{% liquid
  assign create_list_success_message = block.settings.create_list_success_message | default: 'The shopping list <strong>{payload.data.shoppingListName}</strong> was successfully created'
  assign app_url = shop.metafields.aaxis_streamline.aaxis_streamline_appUrl | default: ''
  assign store = shop.domain | default: ''
%}

<div
  id="shopping-list-modal"
  class="shopping-list-modal"
  style="display: none;"
  data-shopping-list-settings="{{ block.settings.include_in_add_to_shopping_list }}"
  data-add-to-list-button-text="{{ block.settings.add_to_list_button_text | default: 'Add to List' }}"
  data-add-to-list-success-message="{{ block.settings.add_to_list_success_message | default: 'Items have been successfully added to shopping list' }}"
  data-add-to-list-error-message="{{ block.settings.add_to_list_error_message | default: 'Error adding items to shopping list' }}"
  data-create-list-success-message="{{ create_list_success_message }}"
  data-create-list-error-message="{{ block.settings.create_list_error_message | default: 'Error creating shopping list' }}"
  data-app-url="{{ app_url }}"
  data-store="{{ store }}"
>
  <div class="shopping-list-modal-content">
    <div class="shopping-list-modal-header">
      <h2>{{ block.settings.modal_title | default: 'Add to Shopping List' }}</h2>
      <button class="shopping-list-modal-close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
        >
          <path fill="currentColor" d="M12.474 9.973 18.1 4.4c.313-.312.313-.885 0-1.198L16.797 1.9c-.312-.312-.885-.312-1.198 0l-5.573 5.625L4.401 1.9c-.312-.312-.885-.312-1.198 0L1.901 3.202c-.312.313-.312.886 0 1.198l5.625 5.573-5.625 5.625c-.312.313-.312.886 0 1.198l1.302 1.302c.313.313.886.313 1.198 0l5.625-5.625 5.573 5.625c.313.313.886.313 1.198 0l1.302-1.302c.313-.312.313-.885 0-1.198l-5.625-5.625Z"></path>
        </svg>
      </button>
    </div>

    <div class="shopping-list-modal-body">
      <!-- Product List Section -->
      <div class="shopping-list-product-section">
        <h3>{{ block.settings.products_section_title | default: 'Products' }}</h3>
        <div class="shopping-list-product-grid" id="shopping-list-selected-products">
          <!-- Products will be dynamically inserted via JS -->
        </div>
      </div>

      <!-- Shopping Lists Section -->
      <div class="shopping-lists-section">
        <h3>{{ block.settings.lists_section_title | default: 'Shopping Lists' }}</h3>
        <div id="shopping-lists-container">
          <!-- Shopping lists will be dynamically loaded via JS -->
          <div class="shopping-lists-loading-spinner" style="display: none;">
            <div class="shopping-lists-spinner" style="display:block"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="shopping-list-modal-footer">
      <button
        id="shopping-list-save-to-lists"
        class="button button--primary  quick-add__submit shopping-list-submit-btn"
        disabled
      >
        <span class="shopping-list-button-text">{{ block.settings.save_button_text | default: 'Save to List' }}</span>
        <span class="shopping-list-button-loading" style="display: none;">
          <div class="shopping-list-button-spinner" style="display:block"></div>
        </span>
      </button>
      <button
        id="shopping-list-create-new-list"
        class="button button--secondary add-to-shopping-list-cancel-btn shopping-list-secondary-btn"
      >
        {{ block.settings.create_list_button_text | default: 'Create New List' }}
      </button>
    </div>
  </div>
</div>

<!-- Create List Form Modal -->
<div id="create-list-modal" class="shopping-list-modal create-shopping-list-modal" style="display: none;">
  <div class="shopping-list-modal-content">
    <div class="shopping-list-modal-header">
      <h2>{{ block.settings.create_modal_title | default: 'Create New Shopping List' }}</h2>
      <button class="shopping-list-modal-close" data-modal="create-list-modal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
        >
          <path fill="currentColor" d="M12.474 9.973 18.1 4.4c.313-.312.313-.885 0-1.198L16.797 1.9c-.312-.312-.885-.312-1.198 0l-5.573 5.625L4.401 1.9c-.312-.312-.885-.312-1.198 0L1.901 3.202c-.312.313-.312.886 0 1.198l5.625 5.573-5.625 5.625c-.312.313-.312.886 0 1.198l1.302 1.302c.313.313.886.313 1.198 0l5.625-5.625 5.573 5.625c.313.313.886.313 1.198 0l1.302-1.302c.313-.312.313-.885 0-1.198l-5.625-5.625Z"></path>
        </svg>
      </button>
    </div>

    <div class="shopping-list-modal-body">
      <form id="create-list-form">
        <div class="form-group">
          <label for="shoppingListName">{{ block.settings.list_name_label | default: 'List Name' }} *</label>
          <input
            type="text"
            id="shoppingListName"
            name="shoppingListName"
            minlength="3"
            maxlength="50"
            placeholder="Enter name"
            required
          >
          <small class="error-message"></small>
        </div>

        <div class="form-group">
          <label for="shoppingListDescription">
            {{- block.settings.list_description_label | default: 'List Description' -}}
          </label>
          <textarea
            id="shoppingListDescription"
            name="shoppingListDescription"
            maxlength="200"
            rows="4"
            placeholder="Enter some description..."
          ></textarea>
          {% comment %} <small class="char-count">0/200</small> {% endcomment %}
        </div>

        <div class="form-group checkbox-group">
          <input
            type="checkbox"
            id="isDefault"
            name="isDefault"
            class="shopping-list-original-checkbox"
          >
          <div class="shopping-list-checkbox-custom">
            <svg class="shopping-list-checkbox-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
          <label for="isDefault" class="create-list-set-as-default-label">
            {{- block.settings.default_list_label | default: 'Set as Default List' -}}
          </label>
        </div>
      </form>
    </div>

    <div class="shopping-list-modal-footer">
      <button id="create-list-submit" class="button button--primary quick-add__submit shopping-list-submit-btn">
        <span class="shopping-list-button-text">{{ block.settings.create_button_text | default: 'Create List' }}</span>
        <span class="shopping-list-button-loading" style="display: none;">
          <div class="shopping-list-button-spinner" style="display:block"></div>
        </span>
      </button>
      <button
        class="button button--secondary modal-cancel add-to-shopping-list-cancel-btn shopping-list-secondary-btn"
        data-modal="create-list-modal"
      >
        {{ block.settings.cancel_button_text | default: 'Cancel' }}
      </button>
    </div>
  </div>
</div>

<script src="{{ 'toast.js' | asset_url }}" defer></script>
<script src="{{ 'add-to-shopping-list-button.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Add to Shopping List",
  "target": "head",
  "javascript": "add-to-shopping-list-modal.js",
  "settings": [
    {
      "label": "Add to List Button Text",
      "id": "add_to_list_button_text",
      "type": "text",
      "default": "Add to List"
    },
    {
      "label": "Modal Title",
      "id": "modal_title",
      "type": "text",
      "default": "Add to Shopping List"
    },
    {
      "label": "Products Section Title",
      "id": "products_section_title",
      "type": "text",
      "default": "Products"
    },
    {
      "label": "Lists Section Title",
      "id": "lists_section_title",
      "type": "text",
      "default": "Shopping Lists"
    },
    {
      "label": "Save Button Text",
      "id": "save_button_text",
      "type": "text",
      "default": "Save"
    },
    {
      "label": "Create List Button Text",
      "id": "create_list_button_text",
      "type": "text",
      "default": "Create New List"
    },
    {
      "label": "Create Modal Title",
      "id": "create_modal_title",
      "type": "text",
      "default": "Create New Shopping List"
    },
    {
      "label": "List Name Label",
      "id": "list_name_label",
      "type": "text",
      "default": "Shopping List Name"
    },
    {
      "label": "List Description Label",
      "id": "list_description_label",
      "type": "text",
      "default": "List Description"
    },
    {
      "label": "Default List Label",
      "id": "default_list_label",
      "type": "text",
      "default": "Set as Default List"
    },
    {
      "label": "Create Button Text",
      "id": "create_button_text",
      "type": "text",
      "default": "Create And Add"
    },
    {
      "label": "Cancel Button Text",
      "id": "cancel_button_text",
      "type": "text",
      "default": "Cancel"
    },
    {
      "label": "Add to List Success Message",
      "id": "add_to_list_success_message",
      "type": "text",
      "default": "Items have been successfully added to shopping list"
    },
    {
      "label": "Add to List Error Message",
      "id": "add_to_list_error_message",
      "type": "text",
      "default": "Error adding items to shopping list"
    },
    {
      "label": "Create List Success Message",
      "id": "create_list_success_message",
      "type": "text",
      "default": "The shopping list <strong>{payload.data.shoppingListName}</strong> was successfully created"
    },
    {
      "label": "Create List Error Message",
      "id": "create_list_error_message",
      "type": "text",
      "default": "Error creating shopping list"
    }
  ]
}
{% endschema %}
